<!DOCTYPE html>
<html lang="nl-nl">

<head>
  <title><%= productName %></title>

  <meta charset="utf-8">
  <meta name="description" content="<%= productDescription %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="robots" content="noimageindex">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="initial-scale=1, maximum-scale=5, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">

  <link rel="icon" type="image/png" sizes="512x512" href="icons/favicon-512x512.png">
  <link rel="icon" type="image/png" sizes="192x192" href="icons/favicon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
  <link rel="icon alternate" sizes="16x16" type="image/ico" href="favicon.ico">
  <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22/%3E">
  <script async src="https://monitor.hrdw.nl/tracker.js" data-ackee-server="https://monitor.hrdw.nl" data-ackee-domain-id="367c9431-c407-43c3-9088-1f19e8d6bd26"></script>
</head>

<body>
  <!-- DO NOT touch the following DIV -->
  <div id="q-app"></div>
</body>

</html>
